.contextMenu, .contextSubMenu {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: silver;
    font-size: small;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    cursor: default;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.cmActive:hover {
    color: black;
    background-color: #89abcd;
}

.cmInactive {
    color: gray;
}
